@media (max-width: 1200px) {
    .promo {
        //padding: 21px 50px 93px 50px;
        background: url(../img/main.jpg) 25% 75% / cover no-repeat;
    }
    .carousel {
        &__inner {
            width: 500px;
            img {
                width: 100%;
            }
        }
    }
    .footer {
        height: 560px;
        &__info {
            width: 380px;
            height: 250px;
        }
        iframe {
            height: 100%;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            margin-right: 50px;
        }
    }
    .promo {
        padding: 21px 50px 93px 50px;
        background: url(../img/main.jpg) 30% 75% / cover no-repeat;
        min-height: 584px;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 9px;
        }
        &__icons {
            margin-top: 40px;
            width: 450px;
        }
        .button-main {
            margin-top: 60px;
        }
    }
    .advantage {
        padding: 50px 0;
        &__wrappers {
            width: 700px;
        }
        &__wrapper {
            width: 200px;
        }
    }
    .consultation {
        min-height: 630px;
        padding: 70px 20px;
        .title__left {
            font-size: 30px;
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 40px;
        }
        &__content {
            padding: 0 50px;
        }
    }
    .comment {
        padding: 0 30px;
    }
    .footer {
        height: 560px;
        &__info {
            width: 380px;
            height: 250px;
        }
        iframe {
            height: 100%;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            img {
                width: 90%;
            }
        }
        &__official {
            margin-right: 30px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 17px;
            margin-bottom: 5px;
        }
    }
    .promo {
        padding: 21px 20px 50px 20px;
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 17px;
        }
    }
    .advantage {
        padding: 50px 0;
        &__wrappers {
            width: 100%;
            display: block;
        }
        &__wrapper {
            padding: 10px;
            border: 1px solid $main-color;
            margin: 0 auto;
            margin-top: 30px;
            width: 215px;
        }
    }
    .consultation {
        .title__left {
            font-size: 20px;
            line-height: 40px;
        }
        &__descr {
            font-size: 15px;
            line-height: 27px;
        }
    }
    .carousel {
        display: none;
    }
    .catalog {
        padding: 0 20px;
        &__title {
            padding-top: 20px;
        }
        &__tabs {
            margin-top: 30px;
        }
        .shine-button {
            font-size: 13px;
            padding: 10px 10px;
            font-weight: 700;
        }
        &-item {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .comment {
        margin-top: 20px;
        padding: 0 30px;
        &__wrapper {
            margin-top: 40px;
        }
        &__images {
            width: 145px;
            height: 145px;
            margin-right: 41px;
        }
        &__name {
            font-size: 16px;
        }
        p {
            font-size: 13px;
        }
    }
    .footer {
        height: 560px;
        &__adress {
            font-size: 14px;
        }
        &__phone {
            font-size: 14px;
        }
        &__info {
            padding: 20px 10px;
            width: 260px;
            height: 150px;
        }
        iframe {
            height: 100%;
        }
    }
}

@media (max-width: 575px) {
	.header {
		&__logo {
			img {
				width: 90%;
			}
		}

		&__official {
			margin-right: 8px;

			span {
				font-size: 8px;
			}
		}

		&__phone {
			font-size: 10px;
			margin-bottom: 5px;
		}
		.button{
			width: 90px;
			font-size: 8px;
		}
	}

	.promo {
		padding: 15px 12px 30px 12px;
		min-height: 530px;
		&__wrapper{
			margin-top: 26px;
		}

		&__header {
			font-size: 26px;
		}

		&__subheader {
			font-size: 15px;
		}

		&__icons{
			width: 100%;
		}
		.button-main{
			margin: 0 right;
			margin-top: 40px;
			width: 245px;
		}
	}

	.advantage {
		padding: 35px 0;
		.title{
			font-size: 24px;
		}
	}

	.consultation {
		padding: 35px 5px 35px 5px;
		min-height: 550px;
		.title__left {
			font-size: 20px;
			line-height: 30px;
		}
		&__descr {
			font-size: 15px;
			line-height: 27px;
		}
	}

	.carousel {
		display: block;
		//display: none;
	}

	.catalog {
		padding: 0 10px;

		&__title {
			font-size: 24px;
			font-weight: 700;
			padding-top: 20px;
		}

		&__tabs {
			margin-top: 20px;

		}

		.shine-button {
			font-size: 10px;
			padding: 5px 5px;
			font-weight: 500;
			margin: 10px 8px;
		}

		&-item {
			margin: 0 auto;
			margin-bottom: 20px;
		}
		&__content{
			margin: 25px 0;
			padding: 0 10px;
		}
	}

	.comment {
		padding:0 10px;
		margin-bottom: 30px;
		.title{
			font-size: 25px;
		}
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 40px;
		}

		&__images {
			width: 100px;
			height: 100px;
			margin: 0 auto;
		}

		&__name {
			margin-top: 10px;
			font-size: 15px;
			text-align: center;
		}
		&__text{
			span {
				display: block;
				text-align: center;
			}
		}

		p {
			font-size: 12px;
		}
	}

	.modal{
		width: 280px;
		padding: 15px;
		&__subtitle{
			font-size: 15px;
		}
		&__close{
			right: 0px;
			font-size: 27px;
		}
	}
	.feed-form{
		width: 250px;
		input{
			width: 250px;
		}
	}
	.carousel{
		padding: 30px 0;
	}
	.slick-list{
		width: 170px;
	}
	.carousel__inner{
		width: 170px;
		img{
			width: 100%;
		}
	}
	.carousel .slick-next img,
	.carousel .slick-prev img{
		width: 13px;
	}

}