
*{
	font-family: "Museo Sans", sans-serif;
}

.container{
	max-width: 950px;
	margin: 0 auto;
}
@import 'variables';
@import 'header';
@import 'promo';
@import 'buttons';
@import 'title';
@import 'advantage';
@import 'consultation';
@import 'forms';
@import 'carousel';
@import 'catalog';
@import 'comment';
@import 'footer';
@import 'modal';
@import 'pageup';